{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{# Add submit button. #}
{%- block form_end -%}
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
			<input type="submit" value="Save" class="btn btn-primary">
		</div>
	</div>
    {{- parent() -}}
{%- endblock form_end -%}

{# Enable ajax validation. #}
{% block form_start -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ 'form-ajax-validation')|trim}) %}
	{{- parent() -}}
{%- endblock %}

{# Adjust responsive classes. #}
{% block form_label_class -%}
col-sm-3 col-lg-2
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-9 col-lg-10
{%- endblock form_group_class %}

{# Wrap errors by a placeholder element. #}
{% block form_errors -%}
	<div id="error__{{ id }}" class="error-container">
		{{- block('form_errors_content') -}}
	</div>
{%- endblock form_errors %}

{# Only show one error for each field. #}
{% block form_errors_content -%}
	{% if errors|length > 0 -%}
		{%- if form.parent -%}
			<span class="error-message">{{ errors[0].message }}</span>
		{%- else -%}
			<div class="alert alert-danger">
				<i class="fa fa-ban"></i>
				{{ errors[0].message }}
			</div>
		{%- endif -%}
	{%- endif -%}
{%- endblock form_errors_content %}

{# Fieldsets for subforms. #}
{%- block _subform_row -%}
	<fieldset>
		{{- block('_subform_label') -}}
		{{- form_errors(form) -}}
		{{- form_widget(form) -}}
	</fieldset>
{%- endblock _subform_row -%}

{# Subform headline. #}
{%- block _subform_label -%}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <legend>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</legend>
    {%- endif -%}
{%- endblock _subform_label -%}

{# Collection rendering. #}
{% block collection_widget -%}
	{% set attr = attr|merge({class: (attr.class|default('') ~ 'form-collection')|trim}) %}
	{% if prototype is defined %}
		{% set attr = attr|merge({'data-prototype':
			'<div>'
			~ (prototype.vars.compound ? form_widget(prototype) ~ form_errors(prototype) : form_row(prototype))
			~ '<div class="row">'
			~ '<div class="collection-actions col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2"></div>'
			~ '</div>'
			~ '</div>'}) %}
		{% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
	{% endif %}
	{% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
	{% set attr = attr|merge({'data-allow-delete': allow_delete ? 1 : 0 }) %}
	{% set attr = attr|merge({'data-name-prefix': full_name}) %}
    <div {{ block('widget_container_attributes') }}>
		{% for child in form %}
			<div>
				{%- if child.vars.compound -%}
					{{- form_widget(child) -}}
					{{- form_errors(child) -}}
				{%- else -%}
					{{- form_row(child) -}}
				{%- endif -%}
				<div class="row">
					<div class="collection-actions col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
					</div>
				</div>
			</div>
		{% endfor %}
		<span class="collection-tmp"></span>
		<div class="row">
			<div class="col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
				<a href="#" class="btn btn-default fa fa-plus collection-action collection-rescue-add" data-collection="{{ id }}"></a>
			</div>
		</div>
    </div>
{%- endblock collection_widget %}

{%- block collection_row -%}
	{{- block('_subform_row') -}}
{%- endblock collection_row -%}
